.map-cell {
    background: url(tileset.png);
    border: none;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.map-cell-border {
    background: url(tileset.png);
    border: 1px solid #00ff;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.map-row:after {
    clear: both;
    content: '';
    display: table;
}

.enemy {
    background: url(tileset.png);
    border: none;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
}

.enemy-border {
    background: url(tileset.png);
    border: 1px solid #00ff;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
}

.health-bar {
    background-color: #e6e7e6;
    height: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 64px;
}

.health-bar-inner {
    background-color: #09a947;
    height: 5px;
}

.medium-health {
    background-color: #d9d32a;
}

.low-health {
    background-color: #ad0707;
}

.map {
    z-index: -1;
    position: relative;
    min-width: 970px;
}

.enemies {
    z-index: 5;
    position: absolute;
    x: 0;
    y: 0;
}

.container {
    display: flex;
  }

.container>* {
    margin: 0 10px;
}

