.map-cell {
    background: url(tileset.png);
    border: none;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.map-cell-border {
    background: url(tileset.png);
    border: 1px solid #00ff;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.map-row:after {
    clear: both;
    content: '';
    display: table;
}

.enemy {
    background: url(tileset.png);
    border: none;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
}

.enemy-border {
    background: url(tileset.png);
    border: 1px solid #00ff;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    position: relative;
}

.health-bar {
    background-color: #e6e7e6;
    height: 5px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: -5px;
}

.health-bar-inner {
    background-color: #109d10;
    height: 5px;
}

.low-health {
    background-color: #ad0707;
}